<a href="https://colab.research.google.com/github/Eidansoft/pythonExercises/blob/master/examples_d3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
#print("Hello World")
#name = "Alex"
print(name)
name = "Pepito"
print(name)
number = 1
number = "1"
age = 19
age2 = "1"
# this is the old way to replace variables into a string
print('was {whatever} years old when he wrote this book. Andis my son'.format(whatever=age))
# this is the recommended way
print(f'{name} was {age} years old when he wrote this book. And {name} is my son')

print(name + ' is ' + str(age) + ' years old. {}'.format(age2))
print(int(age2) + 4)


print('{0:.3f}'.format(11.0/3))
print('{0:_^11}'.format('hello'))

print('Name {}'.format('Alex'))
print('Surname {}'.format('Lorente'))
print('Course {}'.format('Programming in Python'))

print('Name {0: ^20}'.format('Alex'))
print('Surname {0: ^4}'.format('Lorente'))
print('Course {0: ^20}'.format('Programming in Python'))

print("It's me")
print('It\'s me')

print(r"Newlines are indicated by \n")

Pepito
Pepito
was 19 years old when he wrote this book. Andis my son
Pepito was 19 years old when he wrote this book. And Pepito is my son
Pepito is 19 years old. 1
5
3.667
___hello___
Name Alex
Surname Lorente
Course Programming in Python
Name         Alex
Surname Lorente
Course Programming in Python
It's me
It's me
Newlines are indicated by \n

In [3]:
#just align right
print('{:>12}\n{:<12}\n{:>12}\n{:^12}\n{:#^12}'.format("this", "is", "a long text", "align", "example"))

        this
is
 a long text
   align
##example###

In [19]:
password = "abcd123"
username = "ary"

def login(name, passwd):
    if passwd == password and name == username:
        print("Success")
    else:
        print("Failure")

    return


for i in range(0, 3):
    print(i)
    login(input("Username? "), "Password? ")
print("DONE!")

0
Username? alex
Failure
1
Username? test
Failure
2
Username? ary
Failure
DONE!

In [6]:
pwok = "abcd123"
uok = "ary"

pwtest = input("PW? ")
utest = input("User? ")

if pwtest == pwok and utest == uok:
    print("Success")
else:
    print("Failure")

PW? abcd1234
User? ary
Failure

In [27]:
def any_name_that_you_want_for_the_method(age):
    # here will be all the commands for this method
    name = input("Name: ")
    pw = input("PW: ")
    return f"Ok {name}, your password is {pw} and your age is {age}"

In [29]:
print(any_name_that_you_want_for_the_method(2))

Name: setnuih
PW: ontehu
Ok setnuih, your password is ontehu and your age is 2

In [7]:
number = 23
running = True

while running:
    guess = int(input('Enter an integer : '))

    if guess == number:
        print('Congratulations, you guessed it.')
        # this causes the while loop to stop
        running = False
    elif guess < number:
        print('No, it is a little higher than that.')
    else:
        print('No, it is a little lower than that.')
else:
    print('The while loop is over.')
    # Do anything else you want to do here

print('Done')

Enter an integer : 5
No, it is a little higher than that.
Enter an integer : 10
No, it is a little higher than that.
Enter an integer : 20
No, it is a little higher than that.
Enter an integer : 30
No, it is a little lower than that.
Enter an integer : 23
Congratulations, you guessed it.
The while loop is over.
Done

In [14]:
for i in ["a", "b", "3", "3", "4"]:
    print(i)

a
b
3
3
4

In [15]:
while True:
    s = input('Enter something : ')
    if s == 'quit':
        break
    print('Length of the string is', len(s))
print('Done')

Enter something : aoesntuh
Length of the string is 8
Enter something : s
Length of the string is 1
Enter something : quit
Done

In [16]:
while True:
    s = input('Enter something : ')
    if s == 'quit':
        break
    if len(s) < 3:
        print('Too small')
        continue
    print('Input is of sufficient length')
    # Do other kinds of processing here...

print("FINISHED")

Enter something : snateohusnatoeuh
Input is of sufficient length
Enter something : ao
Too small
Enter something : quit
FINISHED

In [50]:
d = 5
def add_all(a=1, b=1 , c=1):
    d =1
def test(a, b):
    print(f'value of d: {d}')

In [51]:
a = 1
b = 2
c = 3
print(add_all(a, b ,c))
print(test(b,a))

None
value of d: 5
None

In [52]:
#
##
###
####
#####
######
#######
number = 6 #int(input("Enter a number of lines: "))
char = '#'
for i in range(0, number):
    print(i * char)

Enter a number of lines: 5

#
##
###
####

In [50]:
import math
def nearest_odd(n):
    n += 0.1
    if math.floor(n) % 2 == 0:
        return int(n+1)
    else:
        return int(n)

def print_tree(size, char):
    for a in range(1, size*2):
        if a % 2 !=0:
          print(('{:^'+str(size*2)+'}').format(char * a))
    print(('{:^'+str(size*2)+'}').format('|'*(nearest_odd(size/3))))

In [56]:
print_tree(1, 'A')

A
|